--extra-index-url https://pypi.nvidia.com
wyoming==1.8.0
openai-whisper==20250625
psutil~=7.2.1
tensorrt_cu13_bindings~=10.16.0.72
tensorrt_cu13_libs~=10.16.0.72
tensorrt~=10.16.0.72
packaging~=26.0
onnx~=1.21.0
onnxscript~=0.6.2
onnx-graphsurgeon==0.5.8
torch==2.11.0
