name: Lint
permissions:
  contents: read
  pull-requests: write

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
      - uses: psf/black@f209c53a0882c6a0e6a7cdcd452d44ba8b9ac364
        with:
          options: "--check --verbose"
          version: "~= 24.0"
