name: Lint
permissions:
  contents: read
  pull-requests: write

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
      - uses: psf/black@994e184dbc1f1cbca00093885c732892f9948d1c
        with:
          options: "--check --verbose"
          version: "~= 24.0"
