---
name: Release
on:
  push:
    branches:
      - release/*

jobs:
  release:
    name: Release
    if: startsWith(github.ref, 'refs/heads/release')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
        with:
          fetch-depth: 0

      - name: Extract version from branch name
        run: |
          VERSION=${GITHUB_REF#refs/heads/release/}
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Zip Release
        run: zip -x '*.git*' -r release.zip .

      - name: Install GitReleaseManager
        uses: gittools/actions/gitreleasemanager/setup@b253d924fede250b73694f9b64c17bdb8c38b009
        with:
          versionSpec: '0.20.x'

      - name: Create release with GitReleaseManager
        uses: gittools/actions/gitreleasemanager/create@b253d924fede250b73694f9b64c17bdb8c38b009
        with:
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          milestone: ${{ env.VERSION }}
          name: ${{ env.VERSION }}
          assets: |
            release.zip

      - name: Publish release with GitReleaseManager
        uses: gittools/actions/gitreleasemanager/publish@b253d924fede250b73694f9b64c17bdb8c38b009
        with:
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          milestone: ${{ env.VERSION }}

      - name: Close release with GitReleaseManager
        uses: gittools/actions/gitreleasemanager/close@b253d924fede250b73694f9b64c17bdb8c38b009
        with:
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          milestone: ${{ github.ref_name }}
