---
name: Release
on:
  push:
    branches:
      - release/*

jobs:
  release:
    name: Release
    if: startsWith(github.ref, 'refs/heads/release')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@064fe7f3312418007dea2b49a19844a9ee378f49
        with:
          fetch-depth: 0

      - name: Extract version from branch name
        run: |
          VERSION=${GITHUB_REF#refs/heads/release/}
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Zip Release
        run: zip -x '*.git*' -r release.zip .

      - name: Install GitReleaseManager
        uses: gittools/actions/gitreleasemanager/setup@a40da1902cd1ac56acf01150edd5147975837522
        with:
          versionSpec: '0.20.x'

      - name: Create release with GitReleaseManager
        uses: gittools/actions/gitreleasemanager/create@a40da1902cd1ac56acf01150edd5147975837522
        with:
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          milestone: ${{ env.VERSION }}
          name: ${{ env.VERSION }}
          assets: |
            release.zip

      - name: Publish release with GitReleaseManager
        uses: gittools/actions/gitreleasemanager/publish@a40da1902cd1ac56acf01150edd5147975837522
        with:
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          milestone: ${{ env.VERSION }}

      - name: Close release with GitReleaseManager
        uses: gittools/actions/gitreleasemanager/close@a40da1902cd1ac56acf01150edd5147975837522
        with:
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          milestone: ${{ github.ref_name }}
