---
name: Release
on:
  push:
    branches:
      - release/*

jobs:
  release:
    name: Release
    if: startsWith(github.ref, 'refs/heads/release')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          fetch-depth: 0

      - name: Extract version from branch name
        run: |
          VERSION=${GITHUB_REF#refs/heads/release/}
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Zip Release
        run: zip -x '*.git*' -r release.zip .

      - name: Install GitReleaseManager
        uses: gittools/actions/gitreleasemanager/setup@ddf73718df94128c955be74622cca5bffa7a40b2
        with:
          versionSpec: '0.20.x'

      - name: Create release with GitReleaseManager
        uses: gittools/actions/gitreleasemanager/create@ddf73718df94128c955be74622cca5bffa7a40b2
        with:
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          milestone: ${{ env.VERSION }}
          name: ${{ env.VERSION }}
          assets: |
            release.zip

      - name: Publish release with GitReleaseManager
        uses: gittools/actions/gitreleasemanager/publish@ddf73718df94128c955be74622cca5bffa7a40b2
        with:
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          milestone: ${{ env.VERSION }}

      - name: Close release with GitReleaseManager
        uses: gittools/actions/gitreleasemanager/close@ddf73718df94128c955be74622cca5bffa7a40b2
        with:
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          milestone: ${{ github.ref_name }}
