---
name: Release
on:
  push:
    branches:
      - release/*

jobs:
  release:
    name: Release
    if: startsWith(github.ref, 'refs/heads/release')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0

      - name: Extract version from branch name
        run: |
          VERSION=${GITHUB_REF#refs/heads/release/}
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Zip Release
        run: zip -x '*.git*' -r release.zip .

      - name: Install GitReleaseManager
        uses: gittools/actions/gitreleasemanager/setup@2062ecbe1dc6594c0a54a4feb9e4f4e579ee6b23
        with:
          versionSpec: '0.20.x'

      - name: Create release with GitReleaseManager
        uses: gittools/actions/gitreleasemanager/create@2062ecbe1dc6594c0a54a4feb9e4f4e579ee6b23
        with:
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          milestone: ${{ env.VERSION }}
          name: ${{ env.VERSION }}
          assets: |
            release.zip

      - name: Publish release with GitReleaseManager
        uses: gittools/actions/gitreleasemanager/publish@2062ecbe1dc6594c0a54a4feb9e4f4e579ee6b23
        with:
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          milestone: ${{ env.VERSION }}

      - name: Close release with GitReleaseManager
        uses: gittools/actions/gitreleasemanager/close@2062ecbe1dc6594c0a54a4feb9e4f4e579ee6b23
        with:
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          milestone: ${{ github.ref_name }}
