name: Ruff
permissions:
  contents: read
  pull-requests: write

on: [pull_request]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: chartboost/ruff-action@1ec810db51b3ebdd902c812e962d2f7aafe85fcf
        with:
          src: wyoming_whisper_trt/ tests/
          args: check --output-format=github
      - uses: chartboost/ruff-action@1ec810db51b3ebdd902c812e962d2f7aafe85fcf
        with:
          src: wyoming_whisper_trt/ tests/
          args: format --check
