name: Ruff
permissions:
  contents: read
  pull-requests: write

on: [pull_request]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@064fe7f3312418007dea2b49a19844a9ee378f49
      - uses: chartboost/ruff-action@1ec810db51b3ebdd902c812e962d2f7aafe85fcf
        with:
          src: wyoming_whisper_trt/ tests/
          args: check --output-format=github
      - uses: chartboost/ruff-action@1ec810db51b3ebdd902c812e962d2f7aafe85fcf
        with:
          src: wyoming_whisper_trt/ tests/
          args: format --check
